:root{
   --cor-de-fundo: #552943;
   --rosa: #F80095;
   --branco: #FFFFFF;
   --botao-ativo: #EA99C9;
   --botao-inativo: rgba(233, 152, 201, 1);
   --taxto-fundo: rgba(255, 155, 215, 0.46);
   

}
